<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
    <div class="content clearfix">
        <div class="logo"><img src="/images/logo_50.png" alt="美联物业"></div>
        <div class="copy">© 2016 www.1200.com.cn 粤ICP备11015476号 京公网安备110105013401号 京ICP证110318号<br>
            新出网证(京)字242号 全国统一客服电话：4006-345-678
        </div>
        <div class="bottom-nav">
            <a href="http://www.1200.com.cn/" title="美联物业">美联官网</a>
            <a href="">公司介绍</a>
            <a href="">免责声明</a>
            <a href="">私隐政策</a>
            <a href="">联系我们</a>
        </div>
    </div>
</footer>

