header {
  height: 58px;
  position: relative;
  line-height: 58px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
header .container {
  width: 1100px;
  margin: 0 auto;
}
header .container .logo-black {
  float: left;
  background: url('../images/logo-black.png') no-repeat 0 0;
  width: 146px;
  height: 32px;
  margin-top: 13px;
}
header .container .down {
  box-sizing: border-box;
  float: left;
}
header .container .down > li {
  height: 58px;
  line-height: 58px;
  width: 88px;
  text-align: center;
  position: relative;
}
header .container .down > li .nav-user-wrapper {
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 30;
  padding: 16px 0;
  background-color: white;
  width: 128px;
  left: -22px;
}
header .container .down > li .nav-user-wrapper > ul > li {
  height: 34px;
  line-height: 34px;
}
header .container .down > li .nav-user-wrapper > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 34px;
  line-height: 34px;
  color: #808080;
}
header .container .down > li .nav-user-wrapper > ul > li > a:hover {
  background-color: #ebebeb;
}
header .container .down > li > a {
  color: #3b3b3b;
}
header .container .nav {
  float: left;
  height: 58px;
}
header .container .nav > li {
  float: left;
  width: 114px;
  height: 58px;
  overflow: hidden;
}
header .container .nav > li a {
  display: inline-block;
  line-height: 58px;
  width: 114px;
  text-align: center;
  color: #3b3b3b;
  font-size: 18px;
}
header .container .nav .active {
  background-color: #fed900;
}
header .container .nav > li:first-child {
  margin-left: 170px;
}
header .container .nav > li:hover {
  background-color: #fed900;
}
header .container .nav .center {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #e5e5e5;
  z-index: 999;
}
header .container .nav .center .two-list {
  width: 1100px;
  margin: 0 auto;
  height: 100%;
}
header .container .nav .center .two-list > li {
  width: 114px;
  float: left;
  text-align: center;
  position: relative;
  height: 100%;
}
header .container .nav .center .two-list > li .three-list > li {
  height: 34px;
  line-height: 34px;
}
header .container .nav .center .two-list > li .three-list > li a {
  color: #949494;
  font-size: 12px;
}
header .container .nav .center .two-list > li .angle {
  display: none;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f7f7f7;
  position: absolute;
  top: -178px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
header .container .nav .center .two-list > li:first-child {
  margin-left: 316px;
}
header .container .login {
  float: right;
  line-height: 58px;
}
header .container .login span > a {
  color: #949494;
}
header .container .login span:last-child {
  border-left: 2px solid #D2D2D2;
  margin-left: 4px;
  padding-left: 8px;
}
