<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/aboutStyle/introduce.css">
</head>
<body>
<%include ../include/header.html%>
<div class="banner">
    <ul class="b-list clearfix">
        <li><a href=""><img src="/images/banner1.jpg" alt=""></a></li>
        <li><a href=""><img src="/images/banner2.jpg" alt=""></a></li>
    </ul>
    <ul class="num"></ul>
</div>
<main class="clearfix" id="app">
    <!--左侧导航组件-->
    <div class="LeftNav">
        <dl>
            <dt>
                <img src="/images/about-ICON.png" alt="关于美联">
                <h2>关于美联</h2>
                <span>ABOUT MIDLAND</span>
            </dt>
            <dd class="active"><a href="">公司介绍</a></dd>
            <dd><a href="">公司历程</a></dd>
            <dd><a href="">企业文化</a></dd>
            <dd><a href="">企业培训</a></dd>
            <dd><a href="">美联风采</a></dd>
        </dl>
    </div>
    <!--点击导航切换内容-->
    <div class="abContent">
        <!--<router-view></router-view>-->
        <div class="title clearfix">
            <h2>公司介绍</h2>
            <span>Company Profile</span>
        </div>
        <img src="/images/hh_LOGO.png" alt="美联物业" class="logo">
        <p>
            美联物业代理（深圳）有限公司于2001年在深圳注册成立是香港上市公司美联集团(香港联交所编号:1200)在华全资子公司。多年来，美联深圳秉承集团“顾客为主，服务为先，积极进取，努力创新，群策群力，再闯高峰”的企业精神，务求为客户提供“快、准、恳、贴、专”服务。主要业务范围包括：一手住宅、写字楼、商铺招商等项目全案策划、销售代理；二手住宅、写字楼、商铺的买卖及租赁代理；代办各项房屋贷款及产权过户手续等综合代理业务。深圳美联物业是深圳最具有竞争力的地产代理公司之一。美联物业，置业委托，当然之选。<br>

            扎根中国二十载，美联物业于中国各地屡获殊荣，成为各界一致推崇的优质地产代理公司，荣获“中国证券金紫荆奖”评选为“最具投资价值上市公司”，更被国际机构评定为中国超级品牌。<br>

            展望未来，美联物业将以推动行业诚信发展、培育知识型经纪为己任。同时，继续巩固中国市场领导地位及提升业务组合，与时俱进，不断创新，为客户提供专业、安全、快捷、优质的地产服务，成为最值得信赖的市场领跑者。
        </p>
        <img src="/images/about_photo.jpg" alt="">

    </div>

</main>

<%include ../include/footer.html%>
<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/javascripts/Pulgs/myBanner.js"></script>
<script type="text/javascript" src="/javascripts/PublicJS.js"></script>

</body>
</html>